* {
    margin: 0;
}

nav {
    background-color: #131921;
    width: 130vw;
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    color: white;

}

nav img.icono {
    width: 25.2px;
}

img#Logo-Amazon{
    width: 120px;
}

.fondo {
    background-image: url("https://m.media-amazon.com/images/I/711NdF5k91L._SX3000_.jpg");
    height: 50vh;
    padding-top: 45vh;
}

.box {
    background-color: rgb(255, 255, 255);
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
}


.productos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body {
    background-color: #E3E6E6;
}

.container {
    padding-left: 150px;
    padding-right: 150px;

}

.productos.diferentes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "imagen imagen imagen"
    "imagen2 imagen3 imagen4"
    ;
}

.imagen-diferente {
    grid-area: imagen;
}

.imagen-diferente img {
    background-color: red; /* Esto no afectará la imagen directamente, ya que background-color solo afecta a elementos con un área visible */
    width: 100%;
}


.imagen-2 {
    grid-area: imagen2;
}

.imagen-3 {
    grid-area: imagen3;
}

.imagen-4 {
    grid-area: imagen4;
}

.flex {
    display: flex;
}

input {
    width: 30%;
    height: 20px;
}

select {
    height: 26px;
}

.xd {
    overflow-x:scroll;
}


.column {
    display: flex;
    flex-direction: column;
}

nav button {
    background-color:#F3A847 ;

}

nav a:hover .div {
    background-color: red;

}
.column:hover {
    border: solid 1px white;
}
