* {
    border: 0;
    padding: 0;
    margin: 0;
} 
nav {
    background-color: #131921;
    color: white;
}

nav img {
    width: 100px;
}
.container {
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
}

.box {
    background-color: red;

}



.productos {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

img {
    width: 100px;
}