@font-face {
  font-family: Amazon;
  src: url("/src/font/AmazonEmber_Rg.ttf");
}
* {
  font-family: "Amazon", Courier, monospace;
  margin: 0;
}

a {
  text-decoration: none;
}

/* # error .cuadricula.flex */

.cuadricula {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.producto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fondo {
  background-image: url("https://m.media-amazon.com/images/I/711NdF5k91L._SX3000_.jpg");
  height: 50vh;
  padding-top: 45vh;
  position: relative;
}

.producto-container {
  background-color: rgb(255, 255, 255);
}

.panel-identificate .flex {
  align-items: baseline;
  justify-content: baseline;
}

.containers {
  left: 30px;
  position: absolute;
  top: 500px;
}

body {
  background-color: #e3e6e6;
}

.producto.diferentes {
  display: grid;
  grid-template-areas:
    "imagen imagen imagen"
    "imagen2 imagen3 imagen4";
  grid-template-columns: repeat(3, 1fr);
}

.imagen {
  grid-area: imagen;
}

.imagen-2 {
  grid-area: imagen2;
}

.imagen-3 {
  grid-area: imagen3;
}

.imagen-4 {
  grid-area: imagen4;
}

.flex {
  display: flex;
}

.producto {
  overflow-x: scroll;
}

.column {
  display: flex;
  flex-direction: column;
}

.productos-linea {
  width: 2055px;
}
